@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
body {
    background-color: #1d1d1d;  /* Light gray background */
    font-family: Inter, sans-serif;  /* Font style */
    margin: 0;  /* Remove default margin */
    padding: 20px;  /* Add padding */
    color: #ffffff;  /* Text color */
    text-align: center;;
}

footer {
    position: fixed;  /* Fixed position at the bottom */
    bottom: 0;  /* Align to the bottom */
    left: 0;  /* Align to the left */
    width: 100%;  /* Full width */
    background-color: #1111;  /* Background color */
    color: #ffffff;  /* Text color */
    text-align: center;  /* Centered text */
    padding: 10px;  /* Padding */
}

.small {
    font-size: 0.8em;  /* Smaller font size */
    color: #888;  /* Gray color */
}